PORT=3000
HOST=http://127.0.0.1
isProd=false
disableEmail=true

DB_URL=
S3_BUCKET_NAME=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

JWT_ADMIN_PK=
JWT_SELLER_PK=
JWT_BUYER_PK=
JWT_DRIVER_PK=

SMTP_SENDER_NAME=
SMTP_SENDER_EMAIL=
SMTP_SERVER=
SMTP_PORT=
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=